@font-face {
  font-family: "MysteryQuest";
  src: url("./MysteryQuest-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsBold";
  src: url("./Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("./Poppins-Regular.ttf") format("truetype");
}